@import "../../styles/utils";

.page-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #4C6FFF;

  &__image {
    max-width: 640px;
    margin-bottom: 15px;
  }

  &__icon {
    display: none;
    margin-bottom: 30px;
    text-align: center;
    transition: transform 500ms;

    svg {
      color: #fff;
      font-size: 10em;
    }
  }

  &__icon_rotate {
    transform: rotate(360deg);
  }

  &__title {
    margin-bottom: 15px;

    @include adaptive-font(42, 26);
    text-align: center;
    color: #ffffff;
  }

  &__text {
    max-width: 402px;
    margin: 0 auto;

    @include adaptive-font(20, 15);
    text-align: center;
    line-height: 1.66em;
    color: #E0DFDF;
  }
}

@media (max-width: 575.98px) {
  .page-404 {
    &__image {
      display: none;
    }

    &__icon {
      display: block;
    }
  }
}