.reg-benefits-item {
  display: flex;
  align-items: flex-start;

  margin: 0px 10px 40px 0;

  max-width: 320px;

  &__icon {
    $icon-size: 3.33em;
    min-width: 20px;
    margin-right: 1.1em;
    color: #4C6FFF;

    svg {
      font-size: $icon-size;
    }
  }

  &__text {
    max-width: 13.2em;

    line-height: 1.66em;
    font-weight: 500;
    color: #A1A1A1;
  }
}

@media (max-width: 694px) {
  .reg-benefits-item {
    margin: 0 auto;
    max-width: none;

    &__text {
      max-width: 30em;
    }

    &__icon {
      $icon-size: 1.3em;

      margin-top: 5px;
      margin-right: 0.8em;

      svg {
        font-size: $icon-size;
      }
    }
  }
}