.nav-menu-item {
  font-size: 18px;

  &__text {
    font-weight: 600;
  }

  &:not(:last-child) {
    margin-right: 8em;
  }
}

.active:not(.header__main-page-link) {
  color: #4C6FFF;
}

@media (max-width: 991.98px) {
  .nav-menu-item {
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 4.4em;
    }
  }

  .active:not(.header__main-page-link) {
    color: #fff;
  }
}