@import '../../styles/utils';
@import '../../styles/vars';

.schedule-search-form {
  max-width: 610px;

  &__title {
    margin-bottom: 35px;

    @include adaptive-font(36, 20);
    font-weight: 600;
    line-height: 1.2em;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 39px;
  }

  &__button {
    padding: 0.61em 2em;

    @include adaptive-font(18, 15);
    font-weight: 600;
    color: #fff;

    background: #4C6FFF;
    box-shadow: 0px 4px 19px rgba(120, 118, 118, 0.14);
    border-radius: 80px;

    transition: background-color $animation-duration;

    &:hover {
      background-color: #2041C8;
    }
  }
}

@media (max-width: 585px) {
  .schedule-search-form {
    max-width: none;

    &__row {
      flex-direction: column;
      row-gap: 20px;
    }
  }
}
